* {
  margin: 0;
  font-family: "alata", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: rgb(44, 44, 44);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: wheat;
  max-width: 80vh;
  margin: auto;
  text-align: center;
}

header > p {
  color: rgb(149, 135, 109);
  margin-top: 1vh;
}

.status {
  background-color: rgb(93, 154, 93);
  display: flex;
  justify-content: center;
  max-width: 30vh;
  margin: auto;
  margin-top: 2vh;
  padding: 2vh 0;
  border: 5px solid rgb(37, 118, 37);
  text-align: center;
  color: rgb(230, 230, 230);
  font-size: 2.5vh;
  flex-direction: column;
  border-radius: 2vh;
}

.status-lost-addon {
  background-color: rgb(103, 40, 40);
  border: 5px solid rgb(40, 6, 6);
}

.status > p {
  font-size: 2vh;
  color: rgb(203, 204, 205);
}

.languages {
  display: flex;
  width: 60vh;
  margin: auto;
  margin-top: 2vh;
  justify-content: center;
  gap: 3px;
  align-items: center;
  flex-wrap: wrap;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vh;
  height: 5vh;
  margin: auto;
  margin-top: 4vh;
}

main > span {
  color: rgb(233, 233, 233);
  background-color: rgb(74, 74, 74);
  border-bottom: 2px solid white;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65vh;
  height: 20vh;
  margin: auto;
  gap: 1vh;
  margin-top: 4vh;
  flex-wrap: wrap;
}

section > button {
  height: 36px;
  width: 36px;
  color: white;
  background-color: rgb(154, 154, 154);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.keyboardColorGreen {
  background-color: rgb(123, 198, 123);
}

.keyboardColorRed {
  background-color: rgb(97, 25, 25);
}

.crossed-out {
  opacity: 0.1;
}
